include launcher README.md AUTHORS BUGS CHANGELOG INSTALL LICENSE TODO
include tests/*
recursive-include debian *
recursive-include develop *
recursive-include docs *
recursive-include ffcuesplitter_gui/art *
recursive-include ffcuesplitter_gui/locale *
recursive-include ffcuesplitter_gui/FFMPEG *
