[Desktop Entry]
Version=1.0
Type=Application

Name=FFcuesplitter-gui
Comment=Extracts audio tracks from an audio CD image using FFmpeg.
Categories=AudioVideo;AudioVideoEditing;

Icon=ffcuesplittergui
Exec=ffcuesplitter-gui
Terminal=false
