[Desktop Entry]
Version=1.0
Type=Application

Name=FFcuesplitter-gui
Comment=Splits the audio CD images supplied with the CUE sheet via FFmpeg.
Categories=AudioVideo;AudioVideoEditing;

Icon=ffcuesplitter-gui
Exec=ffcuespliter-gui
Terminal=false
